* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

.icon-menu-close,
.hero-image-desktop,
.nav {
    display: none;
}

/* Typography */
.hero-title {
    color: hsl(240, 100%, 5%);
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero-body,
.aside-card-body {
    color: hsl(236, 13%, 42%);
    margin: 0;
}

.card-body {
    color: hsl(233, 8%, 79%);
    margin-top: 0;
    margin-bottom: 2em;
}

.card-title {
    color: hsl(36, 100%, 99%);
}

.aside-accent {
    color: hsl(233, 8%, 79%);
}

.hero-aside-title {
    color: hsl(35, 77%, 62%);
    margin-top: 0;
}

/* Layout */

.container {
    width: 90%;
    margin: 0 auto;
}

/* header */
.header {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hero */
.hero-image-mobile {
    width: 100%;
    object-fit: cover;
    margin-top: 1em;
    margin-bottom: 0;
}

.hero-aside {
    background-color: hsl(240, 100%, 5%);
    padding: 1.5em 1em;
}

.card::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: hsl(236, 13%, 42%);
    margin: 1em 0;
}

.card:last-child .card-body {
    margin: 0;
}

.card:last-child::after {
    display: none;
}

/* button */

.hero-btn {
    display: inline-block;
    margin: 1.5em 0;
    text-decoration: none;
    color: hsl(36, 100%, 99%);
    background-color: hsl(5, 85%, 63%);
    padding: .8em 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}