* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

.icon-menu-close,
.hero-image-desktop,
.nav {
    display: none;
}

/* Typography */
.hero-title {
    color: hsl(240, 100%, 5%);
    font-size: 3em;
    margin-bottom: 0.5em;
    line-height: 1;
}

.hero-body,
.aside-card-body {
    color: hsl(236, 13%, 42%);
    margin: 0;
}

.aside-card-body {
    line-height: 1.6;
}

.card-body {
    color: hsl(233, 8%, 79%);
    margin-top: 0;
    margin-bottom: 2em;
}

.card-title {
    color: hsl(36, 100%, 99%);
}

.aside-card-accent {
    color: hsl(233, 8%, 79%);
    font-size: 2em;
}

.hero-aside-title {
    color: hsl(35, 77%, 62%);
    margin-top: 0;
}

/* Layout */

.container {
    width: 90%;
    margin: 0 auto;
}

/* header */
.header {
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hero */
.hero-image-mobile {
    width: 100%;
    object-fit: cover;
    margin-top: 1em;
    margin-bottom: 0;
}

.hero-aside {
    background-color: hsl(240, 100%, 5%);
    padding: 1.5em 1em;
    margin-top: 2em;
}

.card::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: hsl(236, 13%, 42%);
    margin: 1em 0;
}

.card:last-child .card-body {
    margin: 0;
}

.card:last-child::after {
    display: none;
}


/* button */

.hero-btn {
    display: inline-block;
    margin: 1.5em 0;
    text-decoration: none;
    color: hsl(36, 100%, 99%);
    background-color: hsl(5, 85%, 63%);
    padding: .8em 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Page aside */
.aside {
    margin-top: 4em;
}

.aside-card {
    display: grid;
    grid-template: repeat(3, auto) / 30% 65% 0px;
    column-gap: 1em;
    margin-bottom: 2em;
}

.aside-card-image {
    grid-row: span 3;
    grid-column: span 1;
    width: 100%;
    object-fit: cover;
}

.aside-card-accent,
.aside-card-body,
.aside-card-title {
    grid-column: 2 / 3;
    grid-row: span 1;
}

.aside-card-title {
    margin: 0;
    grid-row: 2 / 3;
}

/* Footer */
.attribution {
    text-align: center;
    color: hsl(240, 100%, 5%);
}

.attribution a {
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    font-weight: 700;
}

.attribution a:focus,
.attribution a:hover {
    color: hsl(5, 85%, 63%);
}

/* Media queries */
@media (min-width: 700px) {

    .hero-image-mobile,
    .icon-menu {
        display: none;
    }

    .hero-image-desktop,
    .nav {
        display: block;
    }

    .hero-image-desktop {
        width: 100%;
        object-fit: cover;
    }

    /* container */
    .container {
        width: 70%;
    }

    /* header */
    /* .header {
        margin-top: 3em;
        margin-bottom: 1.5em;
    } */

    /* Nav List */
    .nav {
        width: 40%;
    }

    .nav-list {
        display: flex;
        justify-content: space-between;
    }

    .nav-list li {
        list-style: none;
        padding: 0;
    }

    .nav-list a {
        text-decoration: none;
        color: hsl(236, 13%, 42%);
    }
}